<h1 SetBackground>This is App Component</h1>
<div class="container" SetBackground appHover>
  <p>This is a demo HTML content to understand custom attribute directive in Angular. </p>
</div>
<div class="container" appHighlight appHover>
  <p>This is a demo HTML content to understand custom attribute directive in Angular. </p>
</div>


<div class="container" appBetterhighlight [defaultColor]="'orange'" [highlightColor]="'gray'">
  <p>This is a demo HTML content to understand @HostBinding custom attribute directive in Angular</p>
</div>

<div [appClass]="{contanier:false,'change-font':true}" [ngClass]>
  <p>This is a demo HTML content to understand  how to create custom ngClass directive in Angular</p>
</div>
